*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
}
header,ul,.head{display:flex}
nav,.imagen,.title{width:50%}
#TJ97{
    width:50%;
    text-align:center;
    padding-top:15px;
}
ul{list-style:none}
a{text-decoration:none;color:#000}
li{
    flex:1;
    text-align:center;
    padding-top:25px;
}
li>a:hover{border-bottom: 2px solid #000}
header{margin-bottom:35px}
.imagen{
    display: grid;
    place-items: center;
}
.cercle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.title{
    text-align: center;
}
.gridSkills{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.gridSkills div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.head,.projects,.about,.contact{
    width:90%;
    margin:auto;
    margin-top:30px;
}
.gridProject{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
section{
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    place-items: center;
}
.imgProject{
    width: 250px;
    height: 330px;
    overflow: hidden;
    margin: auto;
}
.contact ul{
    flex-direction: column;
}
.contact li{
    padding: 0;
    text-align: left;
}
.button-1{
  background-color: #EA4C89;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 16px;
  margin-top: 10px;
}
.button-1:hover{
  background-color: #F082AC;
}