*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
}
nav{margin-bottom:50px;}
ul{display:flex;justify-content:space-around;}
ul{list-style:none}
a{text-decoration:none;color:#000}
li{text-align:center;margin-top: 20px}
li>a:hover{border-bottom: 2px solid #000}

header{
    display: flex;
}
.imagen{width:35%;}
.title{width:65%;}
.imagen{
    display: grid;
    place-items: center;
}
.cercle{
    border-radius: 100%;
    width: 250px;
    height: 250px;
}
.title{
    text-align: center;
}
.gridSkills{
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.gridSkills div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.projects,.about,.contact{
    width:90%;
    margin:auto;
    margin-top:30px;
}
.gridProject{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}
section{
    background-color: #333;
    border-radius: 5px;
    display: grid;
    place-items: center;
    text-align: center;
    color:#FFF
}
.imgContainer{
    width: 250px;
    height: 300px;
    background-color: #FFF;
}
.contact ul{
    flex-direction: column;
}
.contact li{
    padding: 0;
    text-align: left;
    margin: 0;
}
.button-1{
  background-color: #EA4C89;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 16px;
  margin-top: 10px;
  width: 100px;
}
.button-1:hover{
  background-color: #FF00CC;
}