*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 35px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.tablero,.teclado{
  display: grid;
  gap: 10px;
  width: 45%;
  grid-template-columns: repeat(5, 17%);
  grid-template-rows: repeat(6, 80px);
}

.tablero div,.teclado div:not(.blanco) {
  border: 1px solid #000;
  display: grid;
  place-items: center;
}
.teclado div:hover:not(.blanco) {
  cursor: pointer;
  background: #ccc;
}